body {
}
.app {
  width: 50%;
  height: 100%;
  border: 3px solid rgb(0, 0, 0);
  margin: 0 auto;
}
.contactForm {
  height: 200px;
  border: 2px solid rgb(0,0,0);
  margin: 25px 20px;
  padding: 10px;
}
input {
  width: 280px;
  height: 70px;;
  margin: 10px 25px 10px 10px;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-top: 0;
}
button {
  width: 250px;
  height: 80px;
  font-size: 30px;
  margin: 10px 0 0 100px;
  background: rgb(64, 153, 255);
  border-color: rgb(64, 153, 255); 
  color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 10px;
}
.contactsList {
  margin: 0 20px;
  padding: 10px;
}
img.contactImage {
  width: 100px;
  height: 100px;
  margin: 0px 50px 5px;
}
p.contactLabel {
  font-size: 25px;
  margin: 5px 30px;
}
a.contactEmail {
  font-size: 20px;
  margin: 5px 30px;
  padding-left: 30px;
}
.contactItem {
  margin: 20px 0;
}