body {
    background: gainsboro;
}

.app {
    width: 50%;
    height: 100px;
    border: 3px solid rgb(233, 26, 26);
    margin: 30px;
    padding: 10px;
}
.contactForm {
    border: 1px solid blue;
    padding: 30px;
}
input {
    margin: 0 30px;
}
button {
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}
.contactsList {
    border: 1px solid black;
}
img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
p {
    font-size: 25px;
}
.contactItem {
    background: gray;
    margin: 10px;
}